// Colors //
@theme: #0000ff;
@themeAccent: #fff;
@text: #000;

// variables //
@maxWidth: 965px;


//  Styles //
@font-face {
	font-family: 'PTMonoBold';
	src: url(/fonts/PTMonoBold/PTM75F_W-d69f2a589d3c03d6f9ed46557e035eae.eot);
	src: url(/fonts/PTMonoBold/PTM75F_W-d69f2a589d3c03d6f9ed46557e035eae.eot?#iefix) format("embedded-opentype"),
		 url(/fonts/PTMonoBold/PTM75F_W-755ee0c615ce95ce56abcf4b8df16333.woff) format("woff"),
		 url(/fonts/PTMonoBold/PTM75F_W-24d391e9d9db77b03ad2ce8e4ad5f300.ttf) format("truetype"),
		 url(/fonts/PTMonoBold/PTM75F_W-9c99d5089524290925e8419d76f505e5.svg#PTMono-Bold) format("svg");
	font-weight: normal;
	font-style: normal;
}
// @font-face {
// 	font-family: 'PTSansRegular';
// 	src: url(/assets/PTS55F_W-5b71bcc4de2a574afcc5da45eee874b2.eot);
// 	src: url(/assets/PTS55F_W-5b71bcc4de2a574afcc5da45eee874b2.eot?#iefix) format("embedded-opentype"),
// 		 url(/assets/PTS55F_W-9caf0274c627f723bd296f239444d513.woff) format("woff"),
// 		 url(/assets/PTS55F_W-04e4c445148c20a2412355de271fb912.ttf) format("truetype"),
// 		 url(/assets/PTS55F_W-d208c884404037f48bf705ccffeeebe6.svg#PTSans-Regular) format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }
@font-face {
	font-family: 'PTSansBold';
	src: url(/fonts/PTSansBold/PTS75F_W-91bb9cbd28857425f756bf235d3318f0.eot);
	src: url(/fonts/PTSansBold/PTS75F_W-91bb9cbd28857425f756bf235d3318f0.eot?#iefix) format("embedded-opentype"),
		 url(/fonts/PTSansBold/PTS75F_W-bd16ec5f68232cad96aebad0ff56ecdb.woff) format("woff"),
		 url(/fonts/PTSansBold/PTS75F_W-957766c3f1f84e1463ce93c4596fa638.ttf) format("truetype"),
		 url(/fonts/PTSansBold/PTS75F_W-43483a365954da4173a8d76024d43dbe.svg#PTSans-Bold) format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body,
main {
	height: 100%;
}
body {
	background: @theme;
	color: @themeAccent;
	font-family: 'PTMonoBold', 'Courier New', Courier, monospace;
}

h1, p {
	margin: 0;
	padding: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

header {
	padding: 25px 15px 20px 15px;
	background: @themeAccent;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	max-width: @maxWidth;
	margin: auto;
	font-family: 'PTSansBold', 'Courier New', Courier, monospace;
}

.logo {
	text-decoration: none;
	img {
		width: 74px;
		height: 74px;
		vertical-align: top;
	}
	span {
		display: inline-block;
		width: 83px;
		padding: 8px 0 9px 7px;
		font-size: 17px;
		line-height: 20px;
		vertical-align: top;
		color: @text;
	}
}
nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: inline-block;
		vertical-align: top;
		padding: 30px 15px;
	}
	a {
		font-size: 12px;
		letter-spacing: 2.2px;
		color: @text;
		text-decoration: none;
		text-transform: uppercase;
	}
	.social {
		padding: 17px 5px;
		a {
			display: block;
			width: 45px;
			height: 45px;
			padding: 12px;
			border-radius: 23px;
			background: @theme;
		}
		.social-twitter {
			padding-top: 14px;
		}
		.icon {
			width: 20px;
			height: 20px;
		}
		&:last-of-type {
			padding-right: 1px;
		}
	}
}
main {
	position: relative;
	display: flex;
	max-width: @maxWidth + ; //1156px
	height: ~"calc(100% - 125px)";
	margin: auto;
	overflow: hidden;
	background-image: url("../img/bg-image.png");
	background-repeat: no-repeat;
	background-position: center;
	.teaser {
		margin: auto;
		font-size: 29px;
		.inner {
			max-width: 279px;
			padding-left: 35px;
			line-height: 35px;
			.right-column {
				display: inline-block;
				float: right;
				width: 104px;
			}
		}
	}
	.bracket {
		position: absolute;
		width: 301px;
		height: 508px;
		&-left {
			top: -174px;
			left: -41px;
		}
		&-right {
			right: -41px;
			bottom: -219px;
			transform: rotate(180deg);
		}

	}
}

footer {
	max-width: 995px;
	margin: -58px auto 0 auto;
	padding: 15px;
	font-size: 12px;
}
